@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&family=Source+Code+Pro&display=swap");

* {
  margin: 0;
}

:root {
  font-family: "Karla", monospace;
  background: #141514;
  color: #b6b6b6;
}

#content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25vh;
}

nav {
  gap: 3vw;
  width: 98vw;
  height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  position: sticky;
  background-color: #141514;
  opacity: 0.8;
  top: 0;
  z-index: 2;
  transition: transform 100ms ease-in-out;
}

.wrapper {
  display: flex;
}

.color-hover {
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: rgb(168, 168, 168);
  margin-left: 30px;
}

.color-hover:hover {
  color: #e9e9e9;
}

.color-hover:before {
  content: "";
  width: 0;
  height: 5px;
  background-color: #d4af37;
  position: absolute;
  top: 120%;
  left: 0;
  transition: all 0.5s;
}

.color-hover:after {
  content: "";
  width: 0;
  height: 5px;
  background-color: #d4af37;
  position: absolute;
  top: 120%;
  right: 0;
  transition: all 0.5s;
}

.color-hover:hover:before {
  width: 50%;
  transform: translateX(100%);
}

.color-hover:hover:after {
  width: 50%;
  transform: translateX(-100%);
}

button {
  padding: 20px 5px;
  background: none;
  border: none;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  color: #d4af37;
  width: 15vw;
  margin-top: 5vh;
}

button:after,
button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #d4af37;
  transition: transform 0.2s;
}

button:after {
  transform: translate(3px, 3px);
}

button:before {
  transform: translate(-3px, -3px);
}

button:hover:after,
button:hover:before {
  transform: translate(0);
}

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  height: 65vh;
  gap: 2vh;
}

h1 {
  color: #e9e0c9;
}
p {
  font-size: 2vmin;
}

#intro-name {
  font-size: 4vmax;
}

.intro-font {
  font-family: "Source Code Pro";
  color: #e9e9e9;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  transition: all 4000ms linear 0s;
}

.social-links {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  bottom: 0vh;
  margin-left: 6vw;
  gap: 3vh;
  z-index: 1;
}

.social-links a {
  font-size: 3vh;
  color: grey;
}

.icon {
  transition: transform 0.2s ease-in-out;
}

.social-links a:hover svg {
  fill: #d4af37;
  color: #d4af37;
  transform: translate(0px, -15%);
  transition-timing-function: linear;
}

.vl {
  border-left: 2px solid grey;
  height: 25vh;
}
#contact-me {
  margin-right: 5vw;
}

.fadeOut {
  opacity: 0;
  width: 0;
  height: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
.fadeIn {
  opacity: 1;
  width: 100px;
  height: 100px;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

#introduction-container {
  display: flex;
  justify-content: space-between;
  align-items: right;
}

.underline {
  margin-bottom: 3vh;
  text-decoration: #d4af37 solid underline;
  text-underline-position: under;
  text-underline-offset: 0.1em;
}

#about-me-container {
  display: flex;
  justify-content: space-between;
}

#about-info {
  display: flex;
  flex-direction: column;
  width: 55%;
  gap: 3em;
}

#about-section {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 55vw;
  margin-left: 20vw;
  height: 90vh;
}

.img {
  position: relative;
  width: 18vw;
  height: 18vw;
  min-width: 250px;
  min-height: 250px;
}

.wrapper {
  display: block;
  position: relative;
  width: 18vw;
  height: 18vw;
  min-width: 250px;
  min-height: 250px;
  border-radius: 10px;
  background-color: #d4af37;
  margin-right: 3vw;
}

.wrapper:hover,
.wrapper:focus {
  outline: 0;
}

.wrapper:hover:after,
.wrapper:focus:after {
  top: 15px;
  left: 15px;
}

.wrapper:hover .img,
.wrapper:focus .img {
  filter: none;
  mix-blend-mode: normal;
}

.wrapper .img {
  position: relative;
  border-radius: 10px;
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(1);
}

.wrapper:before,
.wrapper:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.wrapper:before {
  top: 0;
  left: 0;
  background-color: grey;
  mix-blend-mode: screen;
}

.wrapper:after {
  border: 4px solid #d4af37;
  top: 20px;
  left: 20px;
  z-index: -1;
}

.gold-font {
  color: #d4af37;
}

button {
  padding: 20px 5px;
  background: none;
  border: none;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  color: #d4af37;
  width: 15vw;
  margin-top: 5vh;
}

button:after,
button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #d4af37;
  transition: transform 0.2s;
}

button:after {
  transform: translate(3px, 3px);
}

button:before {
  transform: translate(-3px, -3px);
}

button:hover:after,
button:hover:before {
  transform: translate(0);
}

li {
  display: inline-block;
  padding: 8px;
  background: none;
  color: #d4af37;
  margin: 6px;
  font-size: 1.1em;
  border: 1px solid #d4af37;
  border-radius: 5px;
}

.project-title {
  margin: auto auto -7em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}

#project-container {
  display: flex;
  flex-direction: column;
  gap: 30vh;
  width: 65vw;
  height: 220vh;
  margin-left: 10em;
}

.project-wrapper {
  display: flex;
  width: 60vw;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.project-title > h1 {
  font-size: 3em;
  margin-bottom: 0.1em;
}

.project-img-wrapper {
  width: 600px;
  height: 350px;
  background-color: #dfc572;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.project-img {
  height: 100%;
  width: 100%;
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(1);
  z-index: 1;
  border-radius: 5px;
  object-fit: cover;
  align-self: center;
  justify-self: center;
  transition: all 0.5s ease-in-out;
}

.project-img:hover {
  filter: none;
  background-blend-mode: normal;
}

.project-img-wrapper:hover {
  background-color: #edeaea;
}

.project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
  height: 40vh;
  align-self: center;
  gap: 5px;
}

.project-box > ul {
  margin-top: 1.5rem;
  width: 100%;
}

#project-right {
  margin-left: 5em;
}

.contact-section {
  margin-top: 15vh;
  height: 60vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

.contact-section > h1 {
  font-size: 50px;
}
.contact-section > h2 {
  width: 30vw;
  text-align: center;
  font-weight: normal;
}

.contact-section > h2 > a:link {
  color: #d4af37;
  text-decoration: none;
}

.contact-section > h2 > a:visited {
  color: #d4af37;
  text-decoration: none;
}

@media (max-width: 1200px) {
  #about-section {
    width: 75vw;
    height: 110vh;
    margin-left: 0;
    padding-top: 0;
    flex-direction: column;
  }

  #about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #about-me-container > .wrapper {
    order: -1;
    margin: 1.5em 0 4em 1.5em;
  }

  #about-info {
    display: flex;
    width: 100%;
    gap: 1em;
  }

  .project-title {
    margin: 0;
  }

  .project-title > h1 {
    font-size: 2em;
  }

  #project-container {
    flex-direction: column;
    gap: 6em;
    width: 70vw;
    height: 320vh;
    margin-left: 0;
  }

  .project-wrapper {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 90vh;
    gap: 0px;
  }

  #project-right {
    margin-left: 0;
  }

  #project-right > .project-img-wrapper {
    order: 2;
  }

  .project-img-wrapper {
    min-width: 600px;
    min-height: 300px;
  }

  .project-img {
    min-width: 600px;
    min-height: 300px;
    margin-top: 0em;
  }

  .project-box {
    width: 100%;
    height: 50vh;
  }

  #about-section {
    height: 100vh;
  }

  .social-links {
    display: none;
  }

  .contact-section > h2 {
    width: 50vw;
  }
}

@media (max-width: 900px) {
  nav {
    display: none;
  }
  p {
    margin: 0;
    font-size: 15px;
  }

  button {
    height: 60px;
    width: 200px;
    align-self: center;
    justify-self: center;
  }

  .intro-container {
    width: 70vw;
    height: 100vh;
  }

  .about-section {
    height: 300vh;
  }

  #about-info > #second-description {
    display: none;
  }

  .intro-font {
    margin-right: auto;
  }

  ul {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  li {
    margin-left: 0;
    font-size: 0.9em;
  }

  .project-img-wrapper {
    width: 400px;
    height: 75px;
  }

  .project-img {
    min-width: 400px;
    height: 75px;
    margin-top: 0em;
    object-fit: fit;
  }

  #content-container {
    display: flex;
    flex-direction: column;
    gap: 10vh;
  }

  .contact-section {
    margin-top: 0;
    height: 50vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: None;
  }

  .contact-section > h1 {
    font-size: 30px;
  }

  .contact-section > h2 {
    width: 70vw;
    text-align: center;
    font-weight: normal;
  }
}
